[Unit]
Description=WiFi Configurator Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/wifi-setup
ExecStart=/usr/bin/python3 /opt/wifi-setup/wifi_config.py
Restart=always

[Install]
WantedBy=multi-user.target
